## TfidfVectorizer

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [2]:
corpus = ["John saw the train",
         "The train was late",
         "Max and Rob took the bus",
         "I looked for Max and Rob at the bus station",
         "Max and Rob arrived at the bus station early but waited until noon for the bus"]

In [3]:
vectorizer = TfidfVectorizer(use_idf=True)

vectorizer_vectors = vectorizer.fit_transform(corpus)

In [4]:
vectorizer_vectors.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.58946308, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.58946308, 0.        ,
        0.28088232, 0.        , 0.4755751 , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.58946308, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28088232, 0.        , 0.4755751 , 0.        , 0.        ,
        0.58946308],
       [0.38530481, 0.        , 0.        , 0.38530481, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.38530481, 0.        , 0.38530481, 0.        , 0.        ,
        0.27414755, 0.57532941, 0.        , 0.        , 0.        ,
        0.        ],
       [0.30029013, 0.        , 0.36175597, 0.30029013, 0.        ,
        0.        , 0.36175597, 0.        , 0.        , 0.4483872 ,
        0.30029013, 0.        , 0.30029013, 0.        , 0.36175597,
        0.2136589 , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.19332448, 0.28866824, 0.23289572, 0.38664896, 0.28866824,
        0.28866824, 0.23289572, 0.        , 0.        , 0.        ,
        0.19332448, 0.28866824, 0.19332448, 0.        , 0.23289572,
        0.27510392, 0.        , 0.        , 0.28866824, 0.28866824,
        0.        ]])

In [5]:
feature_names = vectorizer.get_feature_names_out()

feature_names

array(['and', 'arrived', 'at', 'bus', 'but', 'early', 'for', 'john',
       'late', 'looked', 'max', 'noon', 'rob', 'saw', 'station', 'the',
       'took', 'train', 'until', 'waited', 'was'], dtype=object)

In [6]:
df = pd.DataFrame(vectorizer_vectors.toarray(), columns = feature_names)

df

,and,arrived,at,bus,but,early,for,john,late,looked,...,noon,rob,saw,station,the,took,train,until,waited,was
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.589463,0.000000,0.000000,...,0.000000,0.000000,0.589463,0.000000,0.280882,0.000000,0.475575,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.589463,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.280882,0.000000,0.475575,0.000000,0.000000,0.589463
2,0.385305,0.000000,0.000000,0.385305,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.385305,0.000000,0.000000,0.274148,0.575329,0.000000,0.000000,0.000000,0.000000
3,0.300290,0.000000,0.361756,0.300290,0.000000,0.000000,0.361756,0.000000,0.000000,0.448387,...,0.000000,0.300290,0.000000,0.361756,0.213659,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.193324,0.288668,0.232896,0.386649,0.288668,0.288668,0.232896,0.000000,0.000000,0.000000,...,0.288668,0.193324,0.000000,0.232896,0.275104,0.000000,0.000000,0.288668,0.288668,0.000000